<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">HomeWork04.02</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="Players" class="nav-link">Players</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add</a>
      </li>
      <li class="nav-item">
        <a routerLink="queries" class="nav-link">Queries</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>